@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<hr />
<br />

<div>
    <h2 class="text-center">ĐỒ ÁN KỸ THUẬT LẬP TRÌNH HK2/2021-2022</h2>
    <hr />
    <div class="text-center">
        <h4>Đề bài: Ứng dụng Web Quản lý cửa hàng</h4>
        <h4>SVTH: Khưu Quốc Phúc</h4>
        <h4>MSSV: 21880104</h4>
    </div>
</div>