@page
@model QuanLyCuaHang.Pages.MH_DanhSach_HoaDonNhapHangModel
@using QuanLyCuaHang.Entities
@{
}

<h1>Quản lý Hóa Đơn - Nhập Hàng</h1>
<br />
@* Chức năng "thêm mới" *@
<div>
    <h6>
        <a href="/MH_TaoMoi_HoaDonNhapHang" style="text-decoration: none;">Thêm Hóa Đơn "Nhập hàng" mới</a>
    </h6>
</div>
<br />

@* Chức năng tìm kiếm *@
<div>
    <form method="post">
        <div class="input-group">
            <input type="text" name="TuKhoa" class="form-control" placeholder="nhập từ khóa">
            <div class="input-group-append">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </div>
    </form>
</div>
<br />

@* Bảng danh sách *@
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã Hóa Đơn</th>
                <th>Tên Mặt Hàng</th>
                <th>Số lượng</th>
                <th>Ngày Tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (HoaDon eachItem in Model.dsHD)
            {
                <tr>
                    <td>#@(Model.dsHD.IndexOf(eachItem) + 1)</td>
                    <td>@eachItem.MaHoaDon</td>
                    <td>@eachItem.TenMatHang</td>
                    <td>@eachItem.SoLuong</td>
                    <td>@eachItem.NgayTao.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/MH_Sua_HoaDonNhapHang?MaHD=@eachItem.MaHoaDon">Sửa</a>
                        |
                        <a href="/MH_Xoa_HoaDonNhapHang?MaHD=@eachItem.MaHoaDon">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
