@page
@model QuanLyCuaHang.Pages.MH_ThongKeKhoModel
@using QuanLyCuaHang.Entities
@{
}

<h1>Thống kê Hàng trong kho</h1>
<br />
<div>Hôm nay là ngày: <b>@DateTime.Today.ToShortDateString()</b></div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã Mặt Hàng</th>
            <th>Tên Mặt Hàng</th>
            <th>Số lượng trong kho</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.dsMH.Count; i++)
        {
        <tr>
            <td>#@(i + 1)</td>
            <td>@Model.dsMH[i].MaMatHang</td>
            <td>@Model.dsMH[i].TenMatHang</td>
            <td>@Model.soLuongHang[i]</td>
        </tr>
        }
    </tbody>
</table>